<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="processing.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<canvas data-processing-sources="radar.pde"></canvas>
<button>Click</button>
</body>
<script>
    if ("serial" in navigator) {
        // console.log(navigator.serial.getPorts())
        // The Web Serial API is supported.
    }
    // Filter on devices with the Arduino Uno USB Vendor/Product IDs.
    const filters = [
        {usbVendorId: 0x2341, usbProductId: 0x0043},
        {usbVendorId: 0x2341, usbProductId: 0x0001}
    ];

    // Prompt user to select an Arduino Uno device.
    document.querySelector('button').addEventListener('click', async () => {
        // Prompt user to select any serial port.
        const port = await navigator.serial.requestPort({filters});
        // console.log(port)
        await port.open({baudRate: 9600});
        const {usbProductId, usbVendorId} = port.getInfo();
        // const reader = port.readable.getReader();

        // Listen to data coming from the serial device.
        // while (true) {
        //     const {value, done} = await reader.read();
        //     if (done) {
        //         // Allow the serial port to be closed later.
        //         reader.releaseLock();
        //         break;
        //     }
        //     // value is a Uint8Array.
        //     console.log(value);
        // }
        const textDecoder = new TextDecoderStream();
        const readableStreamClosed = port.readable.pipeTo(textDecoder.writable);
        const reader = textDecoder.readable.getReader();

// Listen to data coming from the serial device.
        while (true) {
            const {value, done} = await reader.read();
            if (done) {
                // Allow the serial port to be closed later.
                reader.releaseLock();
                break;
            }
            // value is a string.
            console.log(value);
        }
    });
</script>
</html>